<!DOCTYPE html>
<html>
<head>
  <title>Assign an Advisor</title>
</head>
<body>
  <form action="/assign_advisor" method="POST">
    <p>Enter student's ID:</p>
    <input type="text" name="ID" placeholder="ID #">
    <button type="submit">Save</button>
  </form>
</body>
</html>